body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;

}

/* all kod för header  */
header {
    background: linear-gradient(to bottom, rgba(230, 157, 48, 1) 0%, rgba(230, 157, 48, 0.5) 100%);
    display: flex;
    justify-content: center;
    width: 100%;
}

header img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

header h1 {
    font-size: xx-large;
    letter-spacing: 8px;
    color: rgb(10, 10, 10);

}

header ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;

}


header a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}

header a:hover {
    color: white;
}

/* slutkodat med header */
main {
    background-color: bisque;
    display: grid;
}



section {
    background: linear-gradient(to bottom, rgba(230, 157, 48, 1) 0%, beige 100%);
    margin: 10px;
    border-radius: 20px;
}


/* Main för index start  */

main img {
    height: auto;
    width: 100%;
    border-radius: 40px;
}



/* Fooooter börjar här */
footer {
    background: linear-gradient(to bottom, rgba(230, 157, 48, 1) 0%, rgba(230, 157, 48, 0.5) 100%);
    color: rgb(10, 10, 10);

    text-align: center;
    padding: 20px 0;

}

.footer-content {
    display: flex;
    flex-direction: column;

    align-items: center;

}

footer p {
    margin: 0;

}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;

}




footer ul {

    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

footer li {}

footer a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.gallary {
    display: grid;

}

@media (min-width:768px) {
    .gallary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }


}

@media (min-width:1024px) {
    .gallary {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
}